$white: #FFFFFF;
$gold: #9D875C;
$bgGold: #C1AB81;
$black: #222220;

$mobile: 575.98px; //320-575
$tablet1: 767.98px;
$tablet2: 991.98px; //576-991
$desktop: 1440px; //992-1440
$full: 1920px; //1441-1920
